body {
    min-width:350px;
}

.noborder {
    border: none;
}

.pull-right {
    float: right !important;
    width: auto !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border: none;
}

/* Products avalibilty */

/* Products avalibilty end */

.products-padding {
    padding: 10px;
}

.contactus-padding {
    padding: 10px;
}

img {
    width:100%;
}

.updateproductspage {
    width:50%;
}

.updateproductscenter {
    vertical-align: middle;
}

.updateproductscenterbutton {
    vertical-align: middle;
    margin-bottom: 10px;
}
.addproductbutton {
    vertical-align: middle;
    margin-bottom: 10px;   
}

/* custom navigation bar */
/* navbar */
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
}
.navbar-inverse {
    background-color: #b30000;
    border-color: #b30000;
    background-image: none;
}
/* Title */
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFF;
    background-color: #ff4d4d;
}
/* Link */
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #ff4d4d;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #ff4d4d;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #FFF;
}
/* Caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
/* Mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
    float: left;
    margin-left: 5%;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 1168px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        /* float: none !important; */
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        /* float: none!important; */
        /* margin-top: 7.5px; */
          width: 100%;  
    }
    .navbar-nav>li {
        float: none;
    }
    /* .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    } */
    .collapse.in{
        display:block !important;
        overflow-y: auto;
    }
}

.jumbotron {
    position: relative;
    padding:0 !important;
    margin-top:0px !important;
    background-color: #fff;
    text-align: center;
    margin-bottom: 0 !important;
    border-radius: 0px;
    /*height: 100%;*/
}
.container-fluid {
    padding: 0 !important;
    width: 90%;
}
.col-xs-4{
    background:rgba(157,52,99,0.7);    
}

/* Home page tabs ----------------------------------------------------------------------- */

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    width: 25%;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width:100%;
    margin-bottom: -1px;
    text-align: center;
    float: left;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */
   
@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#register-modal .modal-dialog {
    width: 350px;
}

#register-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */
.modal-backdrop, .modal-backdrop.fade.in{
opacity: 0.7;
}

.model1 .modal-backdrop {
  background: red;
}

.fade {
    opacity: 0.1;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 10px 10px 10px 10px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
    z-index: 4;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.page-header {
    text-align: center;
    margin: 40px 0 5px;
}

#property-box {
    border-style: solid;
    border-width: 0.75px
}

.property-date {
    list-style: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
  margin-top: 10px;
}

.btn-login { 
    background-color: rgba(59, 61, 71, 0.1);
    color: rgb(255, 255, 255);
    border: none;
    display: block;
    width:100%;
    height: 100%;
    min-height: 50px;
    /*background: #b30000; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#e60000, #b30000); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#e60000, #b30000); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#e60000, #b30000); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#e60000, #b30000); /* Standard syntax */
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active { 
    color: #FFF;
    background: #FFF;
    background-color: #777;
    /*border-color: #FF0015; */
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
    background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
    background-color: #777;
    /*border-color: #FF0015;*/
} 
 
.btn-login .badge { 
    color: #FF0000; 
    background-color: #FFFFFF; 
}

/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background: #FF0000;
}*/

.btn-login { 
    border: none;
    height: 100%;
    min-height: 50px;
    color: #FFFFFF; 
    width:auto;
    float: right;
    /*background: #b30000; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#e60000, #b30000); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#e60000, #b30000); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#e60000, #b30000); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#e60000, #b30000); /* Standard syntax */
} 
 
.btn-user:hover, 
.btn-user:focus, 
.btn-user:active { 
    color: #FFF;
    background: #FFF;
    background-color: #777;
    /*border-color: #FF0015; */
} 
 
.btn-user:active, 
.btn-user.active, 
.open .dropdown-toggle.btn-user { 
    background-image: none; 
} 
 
.btn-user.disabled, 
.btn-user[disabled], 
fieldset[disabled] .btn-user, 
.btn-user.disabled:hover, 
.btn-user[disabled]:hover, 
fieldset[disabled] .btn-user:hover, 
.btn-user.disabled:focus, 
.btn-user[disabled]:focus, 
fieldset[disabled] .btn-user:focus, 
.btn-user.disabled:active, 
.btn-user[disabled]:active, 
fieldset[disabled] .btn-user:active, 
.btn-user.disabled.active, 
.btn-user[disabled].active, 
fieldset[disabled] .btn-user.active { 
    background-color: #FF0000; 
    /*border-color: #FF0015;*/
} 
 
.btn-user .badge { 
    color: #FF0000; 
    background-color: #FFFFFF; 
}

/*.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background: #FF0000;
}*/